# Writing data to and reading data from a Database using Python

## Libraries and settings

In [1]:
# Libraries
import os
import sqlite3
import fnmatch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Function to close a sqlite db-connection
def check_conn(conn):
     try:
        conn.cursor()
        return True
     except Exception as ex:
        return False

# Get current working directory
print(os.getcwd())

/workspaces/project_arm_airbnb

## Create sqlite data base

In [2]:
# Create data base
conn = sqlite3.connect('./data_kaggle/listings_1_database.db') 

# Create cursor object to execute SQL commands
cursor = conn.cursor()

# Show dbs in the directory
flist = fnmatch.filter(os.listdir('.'), '*.db')
for i in flist:
    print(i)

## Create SQL-table in the database

In [3]:
cursor.execute('''CREATE TABLE IF NOT EXISTS listings_1_table (Id VARCHAR(50),
                                                               Roomtype VARCHAR(50),
                                                               lon DECIMAL(8,2),
                                                               lat DECIMAL(8,2),
                                                               Price DECIMAL(8,2))''')
# Confirm changes to the table
conn.commit()

## Read data from file to data frame

In [8]:
df = pd.read_csv('./data_kaggle/listings_1.csv',
                  sep=',', 
                  encoding='utf-8')[['id', 'neighbourhood_cleansed', 'latitude', 'longitude','property_type', 'room_type', 'price', 'accommodates', 'bathrooms_text', 'amenities', 'review_scores_rating', 'review_scores_location', 'instant_bookable', 'calculated_host_listings_count']]
print(df.shape)
df.head(5)

(2069, 14)

,id,neighbourhood_cleansed,latitude,longitude,property_type,room_type,price,accommodates,bathrooms_text,amenities,review_scores_rating,review_scores_location,instant_bookable,calculated_host_listings_count
0,42515,Commune de Genève,46.20140,6.15507,Private room in apartment,Private room,$72.00,1,1.5 baths,"[""Cable TV"", ""Dishes and silverware"", ""Washer""...",4.69,4.79,f,1
1,44959,Commune de Genève,46.19704,6.16076,Private room in apartment,Private room,$68.00,1,1.5 shared baths,"[""Extra pillows and blankets"", ""Cable TV"", ""Po...",4.87,4.72,f,1
2,194110,Commune de Genève,46.20420,6.16067,Entire apartment,Entire home/apt,$135.00,4,1 bath,"[""Extra pillows and blankets"", ""Cable TV"", ""Di...",4.50,4.85,f,1
3,276025,Versoix,46.27944,6.16724,Entire apartment,Entire home/apt,$65.00,5,1 bath,"[""Extra pillows and blankets"", ""Portable fans""...",4.62,4.75,t,1
4,325986,Commune de Genève,46.21428,6.14610,Entire apartment,Entire home/apt,$150.00,2,1.5 baths,"[""Dishes and silverware"", ""Washer"", ""TV"", ""Smo...",4.84,4.76,f,1

## Write data to the SQL-table in data base

In [9]:
df.to_sql(name = 'listings_1_table',
          con = conn,
          index = False,
          if_exists = 'replace')

2069

## Query the SQL-table

In [13]:
# Query the SQL-table
cursor.execute('''SELECT *
               FROM listings_1_table
               WHERE bathrooms_text >=1''')

df = pd.DataFrame(cursor.fetchall(), 
                  columns=['id', 'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'price', 'accommodates', 'bathrooms_text', 'amenities', 'review_scores_rating', 'review_scores_location', 'instant_bookable', 'calculated_host_listings_count'])    
df

,id,neighbourhood_cleansed,latitude,longitude,property_type,room_type,price,accommodates,bathrooms_text,amenities,review_scores_rating,review_scores_location,instant_bookable,calculated_host_listings_count
0,42515,Commune de Genève,46.201400,6.155070,Private room in apartment,Private room,$72.00,1,1.5 baths,"[""Cable TV"", ""Dishes and silverware"", ""Washer""...",4.69,4.79,f,1
1,44959,Commune de Genève,46.197040,6.160760,Private room in apartment,Private room,$68.00,1,1.5 shared baths,"[""Extra pillows and blankets"", ""Cable TV"", ""Po...",4.87,4.72,f,1
2,194110,Commune de Genève,46.204200,6.160670,Entire apartment,Entire home/apt,$135.00,4,1 bath,"[""Extra pillows and blankets"", ""Cable TV"", ""Di...",4.50,4.85,f,1
3,276025,Versoix,46.279440,6.167240,Entire apartment,Entire home/apt,$65.00,5,1 bath,"[""Extra pillows and blankets"", ""Portable fans""...",4.62,4.75,t,1
4,325986,Commune de Genève,46.214280,6.146100,Entire apartment,Entire home/apt,$150.00,2,1.5 baths,"[""Dishes and silverware"", ""Washer"", ""TV"", ""Smo...",4.84,4.76,f,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2053,50639175,Carouge,46.175170,6.139500,Private room in villa,Private room,$36.00,1,1 private bath,"[""Extra pillows and blankets"", ""Lock on bedroo...",NaN,NaN,f,2
2054,50665001,Commune de Genève,46.210240,6.146540,Entire apartment,Entire home/apt,$100.00,2,1 bath,"[""Wifi"", ""Hair dryer"", ""Long term stays allowe...",NaN,NaN,t,3
2055,50675141,Versoix,46.274420,6.167230,Private room in apartment,Private room,$65.00,1,1 shared bath,"[""Wifi"", ""Long term stays allowed"", ""Lock on b...",NaN,NaN,t,1
2056,50687989,Commune de Genève,46.200215,6.147685,Entire apartment,Entire home/apt,$64.00,2,1 bath,"[""Cooking basics"", ""Hair dryer"", ""Elevator"", ""...",NaN,NaN,t,1
2057,50696863,Commune de Genève,46.210868,6.146524,Entire apartment,Entire home/apt,$150.00,2,1 bath,"[""Wifi"", ""Hair dryer"", ""Essentials"", ""TV"", ""Ho...",NaN,NaN,t,3